doctype html
head
  meta(charset='UTF-8')
  title Home
  link(rel='stylesheet' href='/css/style.css')
nav
  a(href='index.html') Home
  a(href='/') Landing
  a(href='register_wood.html') Register Wood
  a(href='user.html') User
.container
  h1 Welcome to WoodenCraft
  p This is the main hub for all your wooden needs.