doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Mayondo Wood Furniture
  link(rel='stylesheet' href='css/style_landing.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap' rel='stylesheet')
header.hero-section
  .hero-content
    h1
      i welcome to Mayondo Wood Furniture
    p Where modern design meets timeless craftsmanship.
    a.btn(href='/login') Login
    p Have no account?
    a.btn(href='/register') Register
//
  <section class="about">
  <div class="about-text">
  <h2>Elegant. Sustainable. Handmade.</h2>
  <p>Our furniture tells a story of natural beauty and authentic design. Each piece is handcrafted from locally sourced wood — made to last for generations.</p>
  </div>
  <div class="about-image">
  <img src="" alt="Wooden Furniture">
  </div>
  </section>
footer
  p &copy; 2025 Mayondo Wood Furniture | Designed by Nakanwagi Bernardette
