doctype html
head
  meta(charset='UTF-8')
  title Landing
  link(rel='stylesheet' href='css/style_landing.css')
nav
  a(href='index.html') Home
  a(href='landing.html') Landing
  a(href='register_wood.html') Register Wood
  a(href='user.html') User
.container
  h1 Discover WoodenCraft
  p Your one-stop solution for everything wood. From raw timber to carved elegance.