doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title My Website
    link(rel="stylesheet", href="/css/style.css") 

  body
    // Navbar
    header
      nav
        ul
          li: a(href="/") Landing 
          li: a(href="/login") Login
          li: a(href="/user") User
          li: a(href="/furniture") Furniture
          li: a(href="/wood") Wood
          li: a(href="/logout") Logout 
        

    // Page content block
    main
      block content

   
