doctype html
head
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #ddb263ff;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #d39a45ff;
    }
h2 Registered wood
table
  tr
    th Type
    th Quantity
  tr
  if wood.length > 0
  each item in wood
    tr
      td #{item.type}
      td #{item.quantity}
  