doctype html
head
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #927663ff;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #aa8459ff;
    }
  h1 Furniture List

  table(border="1" cellspacing="0" cellpadding="8")
    thead
      tr
        th Name
        th Type
        th Price
        th Description
    tbody
      if furnitureStock.length > 0
        each item in furnitureStock
          tr
            td #{item.name}
            td #{item.type}
            td #{item.price}
            td #{item.description}
    