doctype html
head
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
h2 HTML Table
table
  tr
    th Type
    th Quantity
  tr
    td Mahogany
    td 120
  tr
    td Oak
    td 85
  tr
    td Pine
    td 150
  tr
    td Teak
    td 60
  tr
    td Cypress
    td 90
  tr
    td Rosewood
    td 45
  tr
    td Bamboo
    td 200
