doctype html
head
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
h2 HTML Table
table
  tr
    th Username
    th Email
    th Password
    th Role
  tr
    td johndoe
    td johndoe@example.com
    td 
    td admin
  tr
    td janesmith
    td janesmith@example.com
    td 
    td user
  tr
    td alexwood
    td alexwood@example.com
    td 
    td manager
  tr
    td lucycarter
    td lucycarter@example.com
    td 
    td user
  tr
    td mikebrown
    td mikebrown@example.com
    td 
    td staff
  tr
    td emilywhite
    td emilywhite@example.com
    td 
    td supervisor

