doctype html
head
  style.
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
h2 HTML Table
table
  tr
    th Name
    th Type
    th Price
    th Description
  tr
    td Wooden Chair
    td Furniture
    td shs.60000
    td Comfortable handcrafted chair made from mahogany wood.
  tr
    td Dining Table
    td Furniture
    td shs.9000000
    td 6-seater polished oak table, durable and elegant.
  tr
    td Coffee Table
    td Furniture
    td shs.800000
    td Compact design, perfect for living rooms and offices.
  tr
    td Wardrobe
    td Furniture
    td shs.900000
    td Spacious double-door wardrobe with fine teak finish.
  tr
    td Study Desk
    td Furniture
    td shs.500000
    td Modern study desk with drawers and smooth surface.
  tr
    td Bookshelf
    td Furniture
    td shs.700000
    td Sturdy pinewood bookshelf with five spacious layers.
