//- extends manager_Layout
block content 
  head
    title MWF Manager Dashboard
    link(rel='stylesheet' href='/css/dashboard.css')
  nav.sidebar
    h2 MWF Manager
    ul
        li: a(href="/") landing 
        li: a(href="/registeredFurniture") Furniture Records
        li: a(href="/users") Users
        li: a(href="/registeredWood") Wood Records
        li: a(href="furnituresales") Sales Reports
        li: a(href="woodsales") Sales Reports
        li: a(href="/registerWood") Add woodstock
        li: a(href="/registerFurniture") Add furniture
        li: a(href="/logout") Logout   
  main.main-content
    header
      h1 Welcome, Manager
      p Monitor company performance and stock overview
    section.cards
      .card
        h3 Total Sales
        p 5millions
      .card
        h3 Available Stock
        p 356 items
      .card
        h3 Pending Orders
        p 18 orders
      .card
        h3 Agents Active
        p 7 agents
    section.reports
      h2 Recent Sales Report
      table
        thead
          tr
            th Date
            th Product
            th Agent
            th Amount
            th Payment Type
        tbody
          tr
            td 29-Oct-2025
            td Hardwood Timber
            td John
            td $350
            td Cash
          tr
            td 28-Oct-2025
            td Sofa Set
            td Mary
            td $890
            td Cheque
