doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title My Website
    link(rel="stylesheet", href="/css/style.css") 
   if currentUser && (currentUser.role ==='sales_Agent')
    nav 
      ul
        li: a(href="/")  landing
        li: a(href="#") My Sales
        li: a(href="/registeredWood") wood stock
        li: a(href="/registeredFurniture") furniture stock
        li: a(href="/logout") logout     
block content

   
