<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel="stylesheet" href="css/style_landing.css">
</head>

<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="landing.html">Landing</a>
        <a href="register_wood.html">Register Wood</a>
        <a href="user.html">User</a>
    </nav>
    
    <div class="container">
        <h1>Discover WoodenCraft</h1>
        <p>Your one-stop solution for everything wood. From raw timber to carved elegance.</p>
    </div>
</body>

</html>